.pipeline {
  border: 2px solid var(--info);
  border-radius: 5px;
  display: flex;
  flex-direction: column;

  min-height: 100px;

  .screens {
    padding: 8px;
    display: flex;
    overflow-x: auto;
  }

  h3 {
    padding: 8px;
  }
}

.pipeline-draggable {
  margin: 2px;

  .pipeline-item-header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    .col-9 {
      font-weight: bolder;
      font-size: larger;
    }
    .col-3 {
      .button {
        padding: 3px 6px;
      }
    }
  }
  .pipeline-item-body {
    display: flex;
    justify-content: center;
    padding: 10px;

    .card {
      .settings-button {
        padding: 0px;

        .btn {
          width: 100%;
          box-shadow: none;
          text-decoration: none;
        }
      }
      .settings-body {
        padding: 10px;
      }
    }
  }
}
