.pipeline {
  margin: 8px;
  border: 2px solid var(--info);
  border-radius: 5px;
  display: flex;
  flex-direction: column;

  min-height: 100px;

  .screens {
    padding: 8px;
    display: flex;
    overflow-x: auto;
  }

  h3 {
    padding: 8px;
  }
}

.pipeline-draggable {
  margin: 2px;

  .cardHead-1 {
    display: flex;
    justify-content: space-between;
    align-items: center;
    .col-9 {
      font-weight: bolder;
      font-size: larger;
    }
    .col-3 {
      .button {
        padding: 3px 6px;
      }
    }
  }
  .cardBody {
    display: flex;
    justify-content: center;
    padding: 10px;

    .card {
      .cardHead {
        padding: 0px;
        background-color: var(--primary);
      }
      .cardLink {
        color: var(--light);
        box-shadow: none;
        text-decoration: none;
        width: 100%;
        border-radius: 0px;
      }
      .cardLink:hover {
        background-color: var(--secondary);
      }
      .cardBodyCollapse {
        padding: 10px;
      }
    }
  }
}
