.dialpad {
  padding: 0;
  margin: 0;
  box-sizing: border-box;

  --outerDiameter: 200px;
  --buttonDiameter: calc(var(--outerDiameter) / 5);
  --diameter: calc(var(--outerDiameter) - var(--buttonDiameter));
  --moveRadius: calc(var(--diameter) / 2);

  position: relative;
  width: var(--outerDiameter);
  height: var(--outerDiameter);
}

.dialpad button {
  position: absolute;
  width: var(--buttonDiameter);
  height: var(--buttonDiameter);
  margin: calc(0px - var(--buttonDiameter) / 2);
  top: 50%;
  left: 50%;
  border: none;
  border-radius: 50%;
  background-color: #cffafa;
  color: black;
  text-align: center;
  text-decoration: none;
  font-size: 20px;
  font-weight: bolder;
}

.dialpad button:hover {
  background-color: #8ffcfc;
}

.dialpad .button0 {
  transform: rotate(-90deg) translate(var(--moveRadius)) rotate(90deg);
}
.dialpad .button1 {
  transform: rotate(-54deg) translate(var(--moveRadius)) rotate(54deg);
}
.dialpad .button2 {
  transform: rotate(-18deg) translate(var(--moveRadius)) rotate(18deg);
}
.dialpad .button3 {
  transform: rotate(18deg) translate(var(--moveRadius)) rotate(-18deg);
}
.dialpad .button4 {
  transform: rotate(54deg) translate(var(--moveRadius)) rotate(-54deg);
}
.dialpad .button5 {
  transform: rotate(90deg) translate(var(--moveRadius)) rotate(-90deg);
}
.dialpad .button6 {
  transform: rotate(126deg) translate(var(--moveRadius)) rotate(-126deg);
}
.dialpad .button7 {
  transform: rotate(162deg) translate(var(--moveRadius)) rotate(-162deg);
}
.dialpad .button8 {
  transform: rotate(198deg) translate(var(--moveRadius)) rotate(-198deg);
}
.dialpad .button9 {
  transform: rotate(234deg) translate(var(--moveRadius)) rotate(-234deg);
}
