#survey-screen {
  display: flex;
  flex-direction: column;
  height: 100vh;
  width: 100vw;

  .header {
    background-color: var(--info);
    display: flex;

    .buttonSurvey {
      margin: 8px 0;
    }
  }

  .iframeSurvey {
    flex: 1 1 auto;
    border: none;
  }
}
