.TestEnd {
  --totalHeight: 95vh;

  display: flex;
  justify-content: center;
  align-content: center;
  align-items: center;
  box-sizing: border-box;
  flex-direction: column;

  position: relative;

  height: var(--totalHeight);

  .row {
    justify-content: center;
  }

  .message {
    font-size: 50px;
  }

  .buttonSettings {
    margin: 20px auto;
  }
  .footer {
    width: 100%;
  }
}
