.TestEnd {
  --totalHeight: 95vh;
  --totalWidth: 95vw;

  display: flex;
  justify-content: center;
  align-content: center;
  align-items: center;
  box-sizing: border-box;
  flex-direction: column;

  position: relative;
  width: var(--totalWidth);
  height: var(--totalHeight);
  padding: 10px;
  margin: 5px;

  .row {
    justify-content: center;
  }

  .message {
    font-size: 50px;
  }

  .buttonSettings {
    margin: 20px auto;
  }
}
