:root {
    /*
    --current_screen_height: 100vh;
    --current_screen_width: 100vw;
    */
    
    --top_margin_meter: 375px;
    
    /*The summation of the following variables must be less 100*/
    /*Variables from here*/
    --left_margin_percent: 12.5;
    --width_precent_meter_red: 35;
    --width_precent_meter_yellow: 25;
    --width_precent_meter_green: 15;
    /*Variables till here*/

    /*Adjust the following values (in percentage) to slide the pointers*/
    /*Variables from here*/
    --average_percentage: 50; /*Adjust this to move the "Average" pointer*/ 
    --your_percentage: 50; /*Adjust this to move the "You" pointer*/
    /*Variables till here*/

    --down_arrow_height: 20px;
    --down_arrow_width: 10px;
    --gap_margin_down_arrow: 2px;
 
    --up_arrow_height: 20px;
    --up_arrow_width: 10px;
    --gap_margin_up_arrow: 2px;

    /*Do Not alter the below variables.*/
    --left_margin_meter: calc(100vw* (var(--left_margin_percent)/100));
    --width_meter_red: calc(100vw* (var(--width_precent_meter_red)/100));
    --width_meter_yellow: calc(100vw* (var(--width_precent_meter_yellow)/100));
    --width_meter_green: calc(100vw* (var(--width_precent_meter_green)/100));
    
    --total_meter_range: calc(var(--width_meter_red) + var(--width_meter_yellow) + var(--width_meter_green));
    --left_margin_down_arrow: calc(var(--left_margin_meter) - var(--down_arrow_width) + (var(--total_meter_range) * (var(--average_percentage)/100)));
    --left_margin_up_arrow: calc(var(--left_margin_meter) - var(--up_arrow_width) + (var(--total_meter_range) * (var(--your_percentage)/100))); 



  }
  .triangle_down{
    top: calc(var(--top_margin_meter) - var(--down_arrow_height) - var(--gap_margin_down_arrow));
    left: var(--left_margin_down_arrow);
    width: 0;
    height: 0;
    border-left: var(--down_arrow_width) solid transparent;
    border-right: var(--down_arrow_width) solid transparent;
    border-top: var(--down_arrow_height) solid black;
    position: absolute;
  }
  .triangle_down span {
    position: relative;
    top: -40px;
    left: -25px;
  }
  .meter_red{
    height: 20px;
    width: var(--width_meter_red);
    background: red;
    position: absolute;
    top: var(--top_margin_meter);
    left: var(--left_margin_meter);
  }
  .meter_yellow{
    height: 20px;
    width: var(--width_meter_yellow);
    background: yellow;
    position: absolute;
    top: var(--top_margin_meter);
    left: calc(var(--left_margin_meter) + var(--width_meter_red));
  }
  .meter_green{
    height: 20px;
    width: var(--width_meter_green);
    background: green;
    position: absolute;
    top: var(--top_margin_meter);
    left: calc(var(--left_margin_meter) + var(--width_meter_red) + var(--width_meter_yellow));
  }
  .triangle_up{
    top: calc(var(--top_margin_meter) + var(--up_arrow_height) + var(--gap_margin_down_arrow));
    left: var(--left_margin_up_arrow);
    width: 0;
    height: 0;
    border-left: var(--up_arrow_width) solid transparent;
    border-right: 10px solid transparent;
    border-bottom: var(--up_arrow_height) solid black;
    position: absolute;
  }
  .triangle_up span {
     position: relative;
     top: 16px;
     left: -12.5px;
  }
  .button {
   position: absolute;
   left: 10px;
   top: calc(var(--top_margin_meter) - 35px);
  }
  