.home {
  --totalHeight: 100vh;

  display: flex;
  justify-content: center;
  align-content: center;
  align-items: center;
  box-sizing: border-box;
  flex-direction: column;

  position: relative;
  height: var(--totalHeight);
  width: 100vw;

  .container-fluid {
    padding: 0;
    background-image: url("/background.png");
    height: 100%;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
  }

  .card {
    background: linear-gradient(105deg, rgba(123, 126, 171, 0.2) 0%, rgba(61, 66, 126, 0.35) 90%);
  }

  #textpart {
    width: auto;
    position: absolute;
    right: 20%;
    top: 47.5%;
    transform: translateY(-52.5%);

    #welcometext {
      color: var(--info);
      position: relative;
      align-self: center;

      #plus {
        color: var(--secondary);
      }

      .row {
        justify-content: center;
        margin-top: 20px;
      }
    }
    #welcomebutton {
      .row {
        justify-content: center;
        .btn {
          background: #f5f5f5;
          opacity: 0.7;
          color: var(--primary);
          border: none;
          .fa-edit {
            margin-left: 8px;
          }
        }
      }
    }
  }
}
