#footer {
  width: 100%;
  text-align: center;
  height: 2rem;
  background-color: var(--primary);
  font-size: smaller;

  .hr {
    border-top: 2px solid var(--light);
    margin: 0;
  }

  .container-fluid {
    color: var(--light);
  }
}
